Nodered flow/flows (4).json
[{"id":"49c9a03e.1feaa","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"4e08fc99.5e9a24","type":"ui_form","z":"49c9a03e.1feaa","name":"","label":"","group":"cd23403.da5f1c","order":1,"width":0,"height":0,"options":[{"label":"Country","value":"country","type":"text","required":false,"rows":null},{"label":"Year","value":"year","type":"number","required":false,"rows":null},{"label":"Status","value":"stat","type":"text","required":false,"rows":null},{"label":"Adult Mortality","value":"am","type":"number","required":true,"rows":null},{"label":"Under-five Deaths","value":"ufd","type":"number","required":true,"rows":null},{"label":"Infant Deaths","value":"idr","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"hepb","type":"number","required":true,"rows":null},{"label":"Measles","value":"mesls","type":"number","required":true,"rows":null},{"label":"Diptheria","value":"dipt","type":"number","required":true,"rows":null},{"label":"HIV/AIDS","value":"hiv","type":"number","required":true,"rows":null},{"label":"Polio","value":"polio","type":"number","required":true,"rows":null},{"label":"Population","value":"popn","type":"number","required":true,"rows":null},{"label":"BMI","value":"bmi","type":"number","required":true,"rows":null},{"label":"Thinness 5-9 years","value":"thin5","type":"number","required":true,"rows":null},{"label":"Thinness 10-19 years","value":"thin10","type":"number","required":true,"rows":null},{"label":"Schooling","value":"scl","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"alc","type":"number","required":true,"rows":null},{"label":"GDP","value":"gdp","type":"number","required":true,"rows":null},{"label":"Percentage Expenditure","value":"perexp","type":"number","required":true,"rows":null},{"label":"Total Expenditure","value":"totexp","type":"number","required":true,"rows":null},{"label":"Income Composition of Resources","value":"icr","type":"number","required":true,"rows":null}],"formValue":{"country":"","year":"","stat":"","am":"","ufd":"","idr":"","hepb":"","mesls":"","dipt":"","hiv":"","polio":"","popn":"","bmi":"","thin5":"","thin10":"","scl":"","alc":"","gdp":"","perexp":"","totexp":"","icr":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":230,"y":480,"wires":[["2564a5db.095a1a"]]},{"id":"64686136.3e70c","type":"debug","z":"49c9a03e.1feaa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1190,"y":420,"wires":[]},{"id":"7297d8b2.7c0888","type":"inject","z":"49c9a03e.1feaa","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":320,"wires":[["2564a5db.095a1a"]]},{"id":"58bdcc9d.2c3f24","type":"http request","z":"49c9a03e.1feaa","name":"Request 1","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.bluemix.net/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":430,"y":120,"wires":[["9b72dd63.1645b"]]},{"id":"9b72dd63.1645b","type":"function","z":"49c9a03e.1feaa","name":"Function 2","func":"var country=global.get('country');\nvar year=global.get('year');\nvar stat=global.get('stat');\nvar am=global.get('am');\nvar ufd=global.get('ufd');\nvar idr=global.get('idr');\nvar hepb=global.get('hepb');\nvar mesls=global.get('mesls');\nvar polio=global.get('polio');\nvar dipt=global.get('dipt');\nvar hiv=global.get('hiv');\nvar popn=global.get('popn');\nvar bmi=global.get('bmi');\nvar thin5=global.get('thin5');\nvar thin10=global.get('thin10');\nvar scl=global.get('scl');\nvar alc=global.get('alc');\nvar gdp=global.get('gdp');\nvar perexp=global.get('perexp');\nvar totexp=global.get('totexp');\nvar icr=global.get('icr');\nvar token=msg.payload.access_token;\nvar instance_id=\"856c1e00-49d9-49ed-93ad-dcfcffe1bf41\"\nmsg.headers = {\n    \"Content-type\":'application/json',\n    \"Authorization\": 'Bearer'+token,\n    \"ML-Instance-ID\": instance_id\n}\nmsg.payload = {\n    \"input_data\": [{\"fields\": [\"Country\", \"Year\", \"Status\", \"Adult Mortality\", \"infant deaths\", \"Alcohol\", \"percentage expenditure\", \"Hepatitis B\", \"Measles \", \" BMI \", \"under-five deaths \", \"Polio\", \"Total expenditure\", \"Diphtheria \", \" HIV/AIDS\", \"GDP\", \"Population\", \" thinness  1-19 years\", \" thinness 5-9 years\", \"Income composition of resources\", \"Schooling\"], \n    \"values\": [[country, year, stat, am, idr, alc, perexp, hepb, mesls, bmi, ufd, polio, totexp, dipt, hiv, gdp, popn, thin10, thin5, icr, scl]]}]\n}\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":320,"wires":[["fbd10670.411b88"]]},{"id":"fbd10670.411b88","type":"http request","z":"49c9a03e.1feaa","name":"Request 2","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/d27025bf-742f-4689-b605-8ee85ff39710/predictions","tls":"","persist":false,"proxy":"","authType":"","x":890,"y":500,"wires":[["93fbed4.2f6b91"]]},{"id":"93fbed4.2f6b91","type":"function","z":"49c9a03e.1feaa","name":"Function 3","func":"msg.payload = msg.payload.predictions[0].values[0][0].toFixed(2)+' years';\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":180,"wires":[["64686136.3e70c","c14c2067.84774"]]},{"id":"c14c2067.84774","type":"ui_text","z":"49c9a03e.1feaa","group":"b4dfeff9.170bf","order":1,"width":0,"height":0,"name":"Life Expectancy","label":"Life Expectancy","format":"{{msg.payload}}","layout":"row-spread","x":1240,"y":220,"wires":[]},{"id":"2564a5db.095a1a","type":"function","z":"49c9a03e.1feaa","name":"Function 1","func":"global.set('country', msg.payload.country);\nglobal.set('year', msg.payload.year);\nglobal.set('status', msg.payload.stat);\nglobal.set('am', msg.payload.am);\nglobal.set('ufd', msg.payload.ufd);\nglobal.set('idr', msg.payload.idr);\nglobal.set('hepb', msg.payload.hepb);\nglobal.set('mesls', msg.payload.mesls);\nglobal.set('polio', msg.payload.polio);\nglobal.set('dipt', msg.payload.dipt);\nglobal.set('hiv', msg.payload.hiv);\nglobal.set('popn', msg.payload.popn);\nglobal.set('bmi', msg.payload.bmi);\nglobal.set('thin5', msg.payload.thin5);\nglobal.set('thin10', msg.payload.thin10);\nglobal.set('scl', msg.payload.scl);\nglobal.set('alc', msg.payload.alc);\nglobal.set('gdp', msg.payload.gdp);\nglobal.set('perexp', msg.payload.perexp);\nglobal.set('totexp', msg.payload.totexp);\nglobal.set('icr', msg.payload.icr);\nvar apikey = 'LCwNeMqOOHVXqE8D-rV2gdfMZ0lfxB3H0DZjeuHGbj3v';\nmsg.headers={'content-type':'application/x-www-form-urlencoded', 'Accept':'application/json'};\nmsg.payload={'grant_type':'urn:ibm:params:oauth:grant-type:apikey', 'apikey':apikey};\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":500,"wires":[["58bdcc9d.2c3f24"]]},{"id":"bd7f5e0.f22cfa","type":"ui_button","z":"49c9a03e.1feaa","name":"","group":"b4dfeff9.170bf","order":3,"width":0,"height":0,"passthru":false,"label":"Input Details","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Information","payloadType":"str","topic":"","x":710,"y":680,"wires":[["80f7f35d.08701"]]},{"id":"80f7f35d.08701","type":"ui_ui_control","z":"49c9a03e.1feaa","name":"","events":"change","x":920,"y":600,"wires":[[]]},{"id":"cd23403.da5f1c","type":"ui_group","z":"","name":"Enter details","tab":"b2ef227f.2b617","order":1,"disp":true,"width":"6","collapse":true},{"id":"b4dfeff9.170bf","type":"ui_group","z":"","name":"Results","tab":"b2ef227f.2b617","order":2,"disp":true,"width":"10","collapse":false},{"id":"b2ef227f.2b617","type":"ui_tab","z":"","name":"Life Expectancy Predictor Model 1","icon":"dashboard","order":1,"disabled":false,"hidden":false}]